/*
 =====================
  Overwrite variables
 =====================
*/

// Colors
$primary-color: #0288d1 !default;         // light-blue darken-2
$primary-color-light: #039be5 !default;   // light-blue darken-1
$primary-color-dark: #0277bd !default;    // light-blue darken-3

$secondary-color: #ffca28 !default;       // amber lighten-1

// $success-color: color("green", "base") !default;
// $error-color: color("red", "base") !default;
// $link-color: color("light-blue", "darken-1") !default;

// Fonts
// $roboto-font-path: "../../bower_components/Materialize/fonts/roboto/";
