object {
    display: none;
}

html, body {
    min-height: 100%;
    height: 100%;
    margin: 0;
}

a {
    color: $primary-color;
}

// COLORS

.primary-background { background-color: $primary-color !important; }
.secondary-background { background-color: $secondary-color !important; }
.google-plus-background { background-color: #da4c3f !important; }
.facebook-background { background-color: #39599f !important; }

.primary-color { color: $primary-color !important; }
.secondary-color { color: $secondary-color !important; }

// FONT/TEXT

.font {
    &.very-large { font-size: 22px; }
    &.large { font-size: 18px; }
    &.normal { font-size: 14px; }
    &.small { font-size: 12px; }
    &.very-small { font-size: 10px; }
}

.text {
    &.capitalize { text-transform: capitalize; }
    &.uppercase { text-transform: uppercase; }
    &.lowercase { text-transform: lowercase; }
}

// OVERFLOW

.overflow {
    &.scroll { overflow: scroll; }
    &.scroll-x { overflow-x: scroll; }
    &.scroll-y { overflow-y: scroll; }
    &.hidden { overflow: hidden; }
    &.visible { overflow: visible; }
}

// PADDING

.no-padding { padding: 0; }

.padding { padding: 10px !important; }
.padding-2x { padding: 20px !important; }

.padding-horizontal { padding-left: 10px !important; padding-right: 10px !important; }
.padding-vertical { padding-top: 10px !important; padding-bottom: 10px !important; }

.padding-horizontal-2x { padding-left: 20px !important; padding-right: 20px !important; }
.padding-vertical-2x { padding-top: 20px !important; padding-bottom: 20px !important; }

.padding-top { padding-top: 10px !important; }
.padding-bottom { padding-bottom: 10px !important; }
.padding-right { padding-right: 10px !important; }
.padding-left { padding-left: 10px !important; }

.padding-top-2x { padding-top: 20px !important; }
.padding-bottom-2x { padding-bottom: 20px !important; }
.padding-right-2x { padding-right: 20px !important; }
.padding-left-2x { padding-left: 20px !important; }

// MARGIN

.no-margin { margin: 0 !important; }

.margin { margin: 10px !important; }

.margin-vertical { margin-top: 10px !important; margin-bottom: 10px !important; }
.margin-horizontal { margin-left: 10px !important; margin-right: 10px !important; }

.margin-top { margin-top: 10px !important; }
.margin-bottom { margin-bottom: 10px !important; }
.margin-right { margin-right: 10px !important; }
.margin-left { margin-left: 10px !important; }

// DISPLAY

.display {
    &.block { display: block; }
    &.inline-block { display: inline-block; }
}

// CURSOS

.cursor {
    &.pointer { cursor: pointer; }
}

// FLEX

.flex {
    display: flex !important;
    display: -webkit-flex !important;

    &.ai-center { align-items: center; -webkit-align-items: center; }
    &.ai-start { align-items: flex-start; -webkit-align-items: flex-start; }
    &.ai-end { align-items: flex-end; -webkit-align-items: flex-end; }

    &.jc-center { justify-content: center; -webkit-justify-content: center; }
    &.jc-start { justify-content: flex-start; -webkit-justify-content: flex-start; }
    &.jc-end { justify-content: flex-end; -webkit-justify-content: flex-end; }

    &.direction-column { flex-direction: column; -webkit-flex-direction: column; }

    .text-center { margin: 0 auto; }
    .text-rigth { margin-left: auto; }
    .text-left { margin-right: auto; }
}

//FLOAT

.float {
    &.rigth { float: right; }
    &.left { float: left; }
}

// BUTTONS

.btn-block { width: 100%; }

// ICONS

.icon-font-large { font-size: 2.4rem !important; }
